/* https://gamepadviewer.com/?p=1&css=https%3A%2F%2Fpingval.g1.xrea.com%2Fetc%2Ff310-black%2Fskin.css */

/*This class defines the base attributes of the skin*/
.controller.custom{
    background: url(./back.png); 
    height: 320px;
    width: 640px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(./back.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 38px;
    height: 9px;
    position: absolute;
    left: 11px;
}
.custom .trigger{/* These are the actual triggers themselves */
    width:12px;
    height:2px;
    background: url(./LR.png);
    opacity: 0;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element 
above to achieve the desired position. */
.custom .trigger.left{ 
    float: left;
}
.custom .trigger.right{
    float: right;
}

/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 14px;
    height: 2px;
    top: 25px;
    left: 27px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back{
    background: url(./select.png);
    width: 7px;
    height: 2px;
}
.custom .start{
    background: url(./start.png);
    width: 7px;
    height: 2px;
}
/* .custom .back.pressed, .custom .start.pressed{ */
/*     background-position-y:-96px; */
/* } */
.custom .back{
    float: left;
    width: 7px;
}
.custom .start{
    float: right;
    width: 7px;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 38px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:6px;
    height:6px;
    background: url(./maru.png);
     opacity: 0;
}
.custom .button.pressed{
    opacity: 1;
}
.custom .a{
    top: 6px;
    left: 6px;
}
.custom .b{
    top: 6px;
    right: 0px;
}
.custom .x{
    top: 6px;
}
.custom .y{
    left: 6px;
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 14px;
    left: 8px;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.left, .custom .face.right{
    width: 7px;
    height: 6px;
}
.custom .face.up, .custom .face.down{
    width: 6px;
    height: 7px;
}
.custom .face.up{
    background: url(./up.png);
    left: 71px;
    top: 10px;
/*     background-position-x: -44px; */
}
.custom .face.down{
    background: url(./down.png);
    left: 71px;
    top: 130px;
/*     background-position-x: -87px; */
}
.custom .face.left{
    background: url(./left.png);
    top: 69px;
    left: 10px;
}
.custom .face.right{
    background: url(./right.png);
    top: 69px;
    left: 125px;
/*     background-position-x: -122px; */
}
.custom .face.pressed{
    opacity: 1;
}
